[Desktop Entry]
Name=CryEngine
GenericName=CryEngine game engine
Comment= a powerful real-time game development platform 
Exec=cryengine -p
Icon=${SNAP}/meta/gui/cryengine.png
Terminal=false
Type=Application
Categories=Development;IDE;
